<a href="https://colab.research.google.com/github/ferrydickson/pemerograman-dasar/blob/main/pertemuan%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variabel list
numbers = [23,43,15,34]
# cara mengakses elemen dalam variabel list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 51
numbers[2] = 51

print (numbers[1])
print (numbers[2])
print (numbers[3])
print (numbers[2])
print (numbers)

43
51
34
51
[23, 43, 51, 34]

In [26]:
# deklarasi variabel list number
numbers = [1,2,3]

# menambahkan elemen di indeks ke-4
numbers.insert(4,5)   #[1,2,3,5]

# mengubah elemen di indeks ke-4
numbers[3] = 4   # [1,2,3,4]

# menghapus elemen di indeks ke-2
numbers.pop(2)   # [1,2,4]

#print lalu lihat hasilnya
print (numbers)

[1, 2, 4]

In [13]:
# deklarasi variabel list number
numbers = [1,2,3]

# menambahkan elemen di indeks ke-4
numbers.insert(4,5)   #[1,2,3,5]

# mengubah elemen di indeks ke-4
numbers[3] = 4   # [1,2,3,4]

# menghapus elemen di indeks ke-2
numbers.pop(2)   # [1,2,4]

#print setiap hasil perumahan dan amati hasilnya
print (numbers)

[1, 2, 4]

In [28]:
# deklarasi variabel list
myList = [1,"Rumah",4.5, True, ["Kamar mandi", "Kamar tidur"]]

# cara mengakses elemen dalam variabel list
myList[0]   # 1
myList[1]   # "Rumah"
myList[3]   # True
myList[4]   # ['kamar mandi', 'kamar tidur']

#lakukan print lalu amati hasilnya
print (myList[4][0])
print (myList[4][1])

Kamar mandi
Kamar tidur

In [29]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0]   # 23
numbers[1]   # 43
numbers[2]   # 15
#lakukan print lalu lihat hasilnya
print (numbers[0])
print (numbers[1])
print (numbers[2])

23
43
15

In [41]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)   # {1, 2, 3, 4}

# operasi irisan
a.intersection(b)   # {2, 3}

# operasi perbedaan
a.symmetric_difference(b)  # {1, 4}

# lakukan print dan lihat hasilnya
print (a.union(b))
print (a.intersection(b))
print (a.symmetric_difference(b))

{1, 2, 3, 4}
{2, 3}
{1, 4}